@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

@viewport {
    width: 375px;
    zoom: 1.0 ;
  }

div {
    margin: auto;
    text-align: center;
    transform: translate(0, 40%);
    width: 275px;
    background-color: white;
    border-radius: 20px;
    display: block;
}

body {
    background-color: hsl(212, 45%, 89%);
}

.skill {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: hsl(218, 44%, 22%);
    height: 20px;
    max-width: 1440px;
}

.scan {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    padding: 35px 0 35px 0;
}